<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
       xmlns:beans="http://www.springframework.org/schema/beans">

    <!-- Enable autowire -->
    <context:annotation-config />
    <context:component-scan base-package="com.clteam" />
    <context:component-scan base-package="uploadserver" />


    <mvc:annotation-driven />

    <mvc:resources mapping="/resources/**" location="/resources/" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <!--<property name="url" value="jdbc:mysql://localhost:3306/coverlip?UseUnicode=true&amp;characterEncoding=utf8" />-->
        <!--<property name="url" value="jdbc:mysql://sql3.freemysqlhosting.net:3306/sql3177066?UseUnicode=true&amp;characterEncoding=utf8" />-->
        <property name="url" value="jdbc:mysql://sql12.freemysqlhosting.net:3306/?UseUnicode=true&amp;characterEncoding=utf8" />

        <!--<property name="username" value="sql3177066" />-->
        <!--<property name="password" value="iVL9cSdWcD" />-->
        <!--<property name="username" value="quangtu"/>-->
        <!--<property name="password" value="123456789"/>-->
        <property name="username" value="sql12177188" />
        <property name="password" value="ZmYtccRhlP" />

    </bean>

    <!-- Session Factory Declaration -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.clteam.dataobject" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--<prop key="hibernate.show_sql">true</prop>-->
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <prop key="hibernate.default_schema">sql3177066</prop>
                <prop key="format_sql">true</prop>
                <prop key="use_sql_comments">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <!--<prop key="hibernate.connection.pool_size">12</prop>-->

                <!--<prop key="hibernate.connection.CharSet">utf8</prop>-->
                <!--<prop key="hibernate.connection.characterEncoding">utf8</prop>-->
                <!--<prop key="hibernate.connection.useUnicode">true</prop>-->

                <prop key="hibernate.search.default.directory_provider">filesystem</prop>
                <prop key="hibernate.search.default.indexBase">$CONF{hibernate.search.default.indexBase}</prop>
            </props>
        </property>
    </bean>

    <!--Upload bean-->
    <beans:bean id="multipartResolver"
                class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- setting maximum upload size -->
        <beans:property name="maxUploadSize" value="100000000" />
    </beans:bean>
    <!--<bean id="multipartResolver"-->
          <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />-->

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>