<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CoverLip</title>
	 <!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../common/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../common/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/tung_style.css">
	<!-- jQuery library -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<script src="js/jquery.min.js" type="text/javascript"></script>

	<!-- Latest compiled JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script src="js/bootstrap.min.js" type="text/javascript"></script>

	<!-- <script src="https://use.fontawesome.com/479981a8a3.js"></script> -->
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	
	<style type="text/css" media="screen">
		
	</style>

	<!--Slider-->
	<script src="js/courial.js" type="text/javascript"></script>
	
	<script>
		$(document).ready(function() {
			slide('demo_first', 'next_first', 'prev_first', 1000);	
			slide('demo_first_1','next_first_1','prev_first_1', 1100);
			slide('demo_first_2','next_first_2','prev_first_2', 1200);
			slide('demo_first_3','next_first_3','prev_first_3', 1300);

			slide('demo_second', 'next_second', 'prev_second',1000);	
			slide('demo_second_1','next_second_1','prev_second_1', 1100);
			slide('demo_second_2','next_second_2','prev_second_2', 1200);
			slide('demo_second_3','next_second_3','prev_second_3', 1300);
			$('.caroufredsel_wrapper').height($('.caroufredsel_wrapper').height()-1);
			$('.next_first').on('click',function(){
				$('.next_first_1').click();
			});
			$('.next_first_1').on('click',function(){
				$('.next_first_2').click();
			});
			$('.next_first_2').on('click',function(){
				$('.next_first_3').click();
			});

			$('.next_second').on('click',function(){
				$('.next_second_1').click();
			});
			$('.next_second_1').on('click',function(){
				$('.next_second_2').click();
			});
			$('.next_second_2').on('click',function(){
				$('.next_second_3').click();
			});

			$('.prev_first').on('click',function(){
				$('.prev_first_1').click();
			});
			$('.prev_first_1').on('click',function(){
				$('.prev_first_2').click();
			});
			$('.prev_first_2').on('click',function(){
				$('.prev_first_3').click();
			});

			$('.prev_second').on('click',function(){
				$('.prev_second_1').click();
			});
			$('.prev_second_1').on('click',function(){
				$('.prev_second_2').click();
			});
			$('.prev_second_2').on('click',function(){
				$('.prev_second_3').click();
			});
		});
		function slide(id, classNext, classPrev, duration){
			$('#'+id).carouFredSel({
					auto: false,
					prev: '.'+classPrev,
					next: '.'+classNext,
					// // pagination: "#pager2",
					mousewheel: true,
					swipe: {
						onMouse: true,
						onTouch: true
					},
					items				: 2,
					direction			: "up",
					scroll : {
						items			: 2,
						effect			: "easeOutBounce",
						duration		: duration,							
						pauseOnHover	: true
					}	
				});
		}
	</script>
	<link rel="stylesheet" href="../common/bootstrap.min.css">

	<!--End Slider-->


	<!---->
</head>
<body>
	<header id="header">
		<div id="main_header">
			<div class="container">
				<div id="logo" class="col-md-2">
					<img src="images/youtube_logo.png" alt="" class="img-responsive">
				</div><!-- /logo -->
				<div id="menu" class="col-md-3">
					<ul>
						<li class="col-md-4  text-center active_menu"> <a href="#">Cover</a></li>
						<li class="col-md-4 text-center "> <a href="#">Lipsync</a></li>
						<li class="col-md-4 text-center "> <a href="#">Karaoke</a></li>
					</ul>
				</div><!-- /menu -->
				<div id="search" class="col-md-4">
					<form method="GET" id="form-search" action="/">
						<div>
							<input name="keyword" placeholder="Tìm: tên clip, ca sĩ" value="" type="text">
							<input id="searchsubmit" value=" " type="submit">
						</div>
					</form>
				</div><!-- search -->
				<div id="upload_signin" class="col-md-3 text-right">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">Upload</button>
						<button type="button" class="btn btn-primary">Đăng nhập</button>
					</div>
				</div>
			</div>
		</div><!-- /main header -->
		<div id="navigation" class="container">
			<ul class="navigation navigation-anim-flip navigation-response-to-icons">
				<li> <a href="#"><i class="fa fa-home"></i>Trang Chủ</a> </li>
				<li> <a href="#"><i class="fa fa-edit"></i>Mới</a> </li>
				<li> <a href="#"><i class="fa fa-edit"></i>Hot</a> </li>
				<li> <a href="#"><i class="fa fa-edit"></i>Bảng Xếp Hạng</a> </li>
				<li> <a href="#"><i class="fa fa-edit"></i>Playlist</a> </li>
				<li> <a href="#"><i class="fa fa-edit"></i>Tất Cả</a> </li>
			</ul>
		</div><!-- /navigation -->
	</header>
	<!-- /header -->
	<content>
		<div id="slider" class="container">
			<div id="carousel-id" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-id" data-slide-to="1" class=""></li>
					<li data-target="#carousel-id" data-slide-to="2" class=""></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img class="img-responsive" data-src="" alt="First slide" src="images/phiasaumotcogai.jpg">
						<div class="background-gadian"></div>
						<div class="container">
							<div class="carousel-caption">
								<h1>Phia Sau Mot Co Gai</h1>
								<p>Mot ban cover di vao long nguoi cua hot girl Beo La</p><br>
								<p><a class="btn btn-lg btn-primary" href="#" role="button">Xem ngay</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<img class="img-responsive" data-src="" alt="Second slide" src="images/didetrove.jpg">
						<div class="background-gadian"></div>
						<div class="container">
							<div class="carousel-caption">
								<h1>Di De Tro Ve</h1>
								<p>Le Roi tro lai voi ban hit dinh dam "Di de tro ve"</p><br>
								<p><a class="btn btn-lg btn-primary" href="#" role="button">Xem ngay</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<img class="img-responsive" data-src="" alt="Third slide" src="images/lactroi.jpg">
						<div class="background-gadian"></div>
						<div class="container">
							<div class="carousel-caption">
								<h1>Lac Troi</h1>
								<p>Girl Xinh Maria Ozawa cover hit Lac Troi cua Son Tung MTP</p><br>
								<p><a class="btn btn-lg btn-primary" href="#" role="button">Xem ngay</a></p>
							</div>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div> <!-- slider -->
		<div id="main_content" class="container">
	        <!-- List video -->
	        <div class="first_content">
	        	<!-- Page Header -->
		        <div class="row title">
		            <div class="col-lg-12">
		                <h1 class="page-header">Page Heading
		                    <small>Secondary Text</small>
			                <div class="action_slide">
						        <div class="btn-group">
						            <button type="button" class="btn btn-primary next_first"><span class="glyphicon glyphicon-chevron-up"></span></button>
						            <button type="button" class="btn btn-primary prev_first"><span class="glyphicon glyphicon-chevron-down"></span></button>
						        </div>
						    </div>
		                </h1>
		            </div>
		        </div>
		        <!-- /.row -->

		        <!-- Projects Row -->
		        <div class="row" style="overflow:hidden;">
		            <div class="col-md-3 subject">
		                <a href="#">
		                    <img class="img-responsive" src="images/singer.jpg" alt="">
		                </a>
		                <h3>
		                    <a href="#">Project Name</a>
		                </h3>
		                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
		            </div>
		           
					<div class="col-md-9" style="padding-right:0;padding-left:0;">
						<ul id="demo_first" class="col-md-3 one_list">
						    <!-- <?php
						    for(var i=0; i<4; i++){
						    ?> -->
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video" href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="noi nay co anh - son tung m-tp" title="Nơi Này Có Anh - Sơn Tùng M-TP">
						            </a>
						        	<div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP"  class="name_song">Nơi Này Có Anh</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Sơn Tùng M-TP trình bày" target="_blank">Sơn Tùng M-TP</a></h4>
						    </li>
						    <!-- <?php
							}	
						    ?> -->
						</ul>
						<ul id="demo_first_1" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="I Got Love - Tae Yeon (SNSD)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="i got love - tae yeon (snsd)" title="I Got Love - Tae Yeon (SNSD)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="I Got Love - Tae Yeon (SNSD)"  class="name_song">I Got Love</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tae Yeon (SNSD) trình bày" target="_blank">Tae Yeon (SNSD)</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="wi-fi - yoon jong shin, zico (block b)" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)"  class="name_song">Wi-Fi</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Yoon Jong Shin trình bày" target="_blank">Yoon Jong Shin</a>, <a href="http://www.nhaccuatui.com/nghe-si-zico-block-b.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Zico (Block B) trình bày" target="_blank">Zico (Block B)</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="tet nguyen dan - tim, truong quynh anh" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh"  class="name_song">Tết Nguyên Đán</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tim trình bày" target="_blank">Tim</a>, <a href="http://www.nhaccuatui.com/nghe-si-truong-quynh-anh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Trương Quỳnh Anh trình bày" target="_blank">Trương Quỳnh Anh</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="vi anh la soai ca - dam vinh hung" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng"  class="name_song">Vì Anh Là Soái Ca</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Đàm Vĩnh Hưng trình bày" target="_blank">Đàm Vĩnh Hưng</a></h4>
						    </li>
						</ul>
						<ul id="demo_first_2" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video" href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="noi nay co anh - son tung m-tp" title="Nơi Này Có Anh - Sơn Tùng M-TP">
						            </a>
						        	<div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP"  class="name_song">Nơi Này Có Anh</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Sơn Tùng M-TP trình bày" target="_blank">Sơn Tùng M-TP</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Thinking 'bout You - Dua Lipa" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="thinking 'bout you - dua lipa" title="Thinking 'bout You - Dua Lipa">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Thinking 'bout You - Dua Lipa"  class="name_song">Thinking 'bout You</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Dua Lipa trình bày" target="_blank">Dua Lipa</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="khac hoa tuong tu - ung hoang phuc" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc"  class="name_song">Khắc Họa Tương Tư</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Ưng Hoàng Phúc trình bày" target="_blank">Ưng Hoàng Phúc</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="phia sau to do la (muon quay ve nha 2) (phim ngan) - cao tung anh" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh"  class="name_song">Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn)</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Cao Tùng Anh trình bày" target="_blank">Cao Tùng Anh</a></h4>
						    </li>
						</ul>
						<ul id="demo_first_3" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="I Got Love - Tae Yeon (SNSD)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="i got love - tae yeon (snsd)" title="I Got Love - Tae Yeon (SNSD)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="I Got Love - Tae Yeon (SNSD)"  class="name_song">I Got Love</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tae Yeon (SNSD) trình bày" target="_blank">Tae Yeon (SNSD)</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="wi-fi - yoon jong shin, zico (block b)" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)"  class="name_song">Wi-Fi</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Yoon Jong Shin trình bày" target="_blank">Yoon Jong Shin</a>, <a href="http://www.nhaccuatui.com/nghe-si-zico-block-b.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Zico (Block B) trình bày" target="_blank">Zico (Block B)</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="tet nguyen dan - tim, truong quynh anh" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh"  class="name_song">Tết Nguyên Đán</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tim trình bày" target="_blank">Tim</a>, <a href="http://www.nhaccuatui.com/nghe-si-truong-quynh-anh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Trương Quỳnh Anh trình bày" target="_blank">Trương Quỳnh Anh</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="vi anh la soai ca - dam vinh hung" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng"  class="name_song">Vì Anh Là Soái Ca</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Đàm Vĩnh Hưng trình bày" target="_blank">Đàm Vĩnh Hưng</a></h4>
						    </li>
						</ul>
						<br><br>
						
						<div style="display:none!important;">
							<button class="next_first_1"></button>
							<button class="next_first_2"></button>
							<button class="next_first_3"></button>
							<button class="prev_first_1"></button>
							<button class="prev_first_2"></button>
							<button class="prev_first_3"></button>
						</div>
					</div>
		        </div>
		        <!-- /.row -->
	        </div>
			<hr>
			<div class="first_content">
	        	<!-- Page Header -->
		        <div class="row title">
		            <div class="col-lg-12">
		                <h1 class="page-header">Page Heading
		                    <small>Secondary Text</small>
			                <div class="action_slide">
						        <div class="btn-group">
						            <button type="button" class="btn btn-primary next_second"><span class="glyphicon glyphicon-chevron-up"></span></button>
						            <button type="button" class="btn btn-primary prev_second"><span class="glyphicon glyphicon-chevron-down"></span></button>
						        </div>
						    </div>
		                </h1>
		            </div>
		        </div>
		        <!-- /.row -->

		        <!-- Projects Row -->
		        <div class="row" style="overflow:hidden;">
		            <div class="col-md-3 subject">
		                <a href="#">
		                    <img class="img-responsive" src="images/singer.jpg" alt="">
		                </a>
		                <h3>
		                    <a href="#">Project Name</a>
		                </h3>
		                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
		            </div>
		           	
					<div class="col-md-9" style="padding-right:0;padding-left:0;">
						<ul id="demo_second" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video" href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="noi nay co anh - son tung m-tp" title="Nơi Này Có Anh - Sơn Tùng M-TP">
						            </a>
						        	<div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP"  class="name_song">Nơi Này Có Anh</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Sơn Tùng M-TP trình bày" target="_blank">Sơn Tùng M-TP</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Thinking 'bout You - Dua Lipa" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="thinking 'bout you - dua lipa" title="Thinking 'bout You - Dua Lipa">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Thinking 'bout You - Dua Lipa"  class="name_song">Thinking 'bout You</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Dua Lipa trình bày" target="_blank">Dua Lipa</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="khac hoa tuong tu - ung hoang phuc" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc"  class="name_song">Khắc Họa Tương Tư</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Ưng Hoàng Phúc trình bày" target="_blank">Ưng Hoàng Phúc</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="phia sau to do la (muon quay ve nha 2) (phim ngan) - cao tung anh" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh"  class="name_song">Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn)</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Cao Tùng Anh trình bày" target="_blank">Cao Tùng Anh</a></h4>
						    </li>
						</ul>
						<ul id="demo_second_1" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="I Got Love - Tae Yeon (SNSD)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="i got love - tae yeon (snsd)" title="I Got Love - Tae Yeon (SNSD)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="I Got Love - Tae Yeon (SNSD)"  class="name_song">I Got Love</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tae Yeon (SNSD) trình bày" target="_blank">Tae Yeon (SNSD)</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="wi-fi - yoon jong shin, zico (block b)" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)"  class="name_song">Wi-Fi</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Yoon Jong Shin trình bày" target="_blank">Yoon Jong Shin</a>, <a href="http://www.nhaccuatui.com/nghe-si-zico-block-b.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Zico (Block B) trình bày" target="_blank">Zico (Block B)</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="tet nguyen dan - tim, truong quynh anh" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh"  class="name_song">Tết Nguyên Đán</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tim trình bày" target="_blank">Tim</a>, <a href="http://www.nhaccuatui.com/nghe-si-truong-quynh-anh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Trương Quỳnh Anh trình bày" target="_blank">Trương Quỳnh Anh</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="vi anh la soai ca - dam vinh hung" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng"  class="name_song">Vì Anh Là Soái Ca</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Đàm Vĩnh Hưng trình bày" target="_blank">Đàm Vĩnh Hưng</a></h4>
						    </li>
						</ul>
						<ul id="demo_second_2" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video" href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="noi nay co anh - son tung m-tp" title="Nơi Này Có Anh - Sơn Tùng M-TP">
						            </a>
						        	<div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Nơi Này Có Anh - Sơn Tùng M-TP"  class="name_song">Nơi Này Có Anh</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Sơn Tùng M-TP trình bày" target="_blank">Sơn Tùng M-TP</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Thinking 'bout You - Dua Lipa" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="thinking 'bout you - dua lipa" title="Thinking 'bout You - Dua Lipa">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Thinking 'bout You - Dua Lipa"  class="name_song">Thinking 'bout You</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Dua Lipa trình bày" target="_blank">Dua Lipa</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="khac hoa tuong tu - ung hoang phuc" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Khắc Họa Tương Tư - Ưng Hoàng Phúc"  class="name_song">Khắc Họa Tương Tư</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Ưng Hoàng Phúc trình bày" target="_blank">Ưng Hoàng Phúc</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="phia sau to do la (muon quay ve nha 2) (phim ngan) - cao tung anh" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn) - Cao Tùng Anh"  class="name_song">Phía Sau Tờ Đô La (Muốn Quay Về Nhà 2) (Phim Ngắn)</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Cao Tùng Anh trình bày" target="_blank">Cao Tùng Anh</a></h4>
						    </li>
						</ul>
						<ul id="demo_second_3" class="col-md-3 one_list">
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="I Got Love - Tae Yeon (SNSD)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="i got love - tae yeon (snsd)" title="I Got Love - Tae Yeon (SNSD)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="I Got Love - Tae Yeon (SNSD)"  class="name_song">I Got Love</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tae Yeon (SNSD) trình bày" target="_blank">Tae Yeon (SNSD)</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="wi-fi - yoon jong shin, zico (block b)" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Wi-Fi - Yoon Jong Shin, Zico (Block B)"  class="name_song">Wi-Fi</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Yoon Jong Shin trình bày" target="_blank">Yoon Jong Shin</a>, <a href="http://www.nhaccuatui.com/nghe-si-zico-block-b.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Zico (Block B) trình bày" target="_blank">Zico (Block B)</a></h4>
						    </li>
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="tet nguyen dan - tim, truong quynh anh" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Tết Nguyên Đán - Tim, Trương Quỳnh Anh"  class="name_song">Tết Nguyên Đán</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Tim trình bày" target="_blank">Tim</a>, <a href="http://www.nhaccuatui.com/nghe-si-truong-quynh-anh.html" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Trương Quỳnh Anh trình bày" target="_blank">Trương Quỳnh Anh</a></h4>
						    </li>
						    
						    <li class="col-md-12 one_video">
						        <div class="box_image">                    		
						            <a class="img_video"  href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng" >
						                <span class="icon_play"></span>
						                <img class="img-responsive" src="images/anh1.jpg" alt="vi anh la soai ca - dam vinh hung" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng">
						            </a>
						            <div style="clear:both;"></div>
						        </div>
						        <h3><a href="#" title="Vì Anh Là Soái Ca - Đàm Vĩnh Hưng"  class="name_song">Vì Anh Là Soái Ca</a></h3>
						        <h4><a href="#" class="name_singer" title="Tìm các bài hát, playlist, mv do ca sĩ Đàm Vĩnh Hưng trình bày" target="_blank">Đàm Vĩnh Hưng</a></h4>
						    </li>
						</ul>
						<br><br>
						<div style="display:none!important;">
							<button class="next_second_1"></button>
							<button class="next_second_2"></button>
							<button class="next_second_3"></button>
							<button class="prev_second_1"></button>
							<button class="prev_second_2"></button>
							<button class="prev_second_3"></button>
						</div>
					</div>
		        </div>
		        <!-- /.row -->
	        </div>
			<hr>
	        <!-- List music -->
	        <div class="list_music">
	        	<div class="row">
		            <div class="col-md-4">
					    <h2 class="title-section"><a title="Nhạc Việt Hot" href="#" class="link-to-list">Nhạc Việt Hot <i class="icon-arrow"></i></a></h2>
					    <div class="list-item">
					        <ul>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					        </ul>
					    </div>
					</div>
					<div class="col-md-4">
					    <h2 class="title-section"><a title="Nhạc Việt Hot" href="#" class="link-to-list">Nhạc Việt Hot <i class="icon-arrow"></i></a></h2>
					    <div class="list-item">
					        <ul>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					        </ul>
					    </div>
					</div>
					<div class="col-md-4">
					    <h2 class="title-section"><a title="Nhạc Việt Hot" href="#" class="link-to-list">Nhạc Việt Hot <i class="icon-arrow"></i></a></h2>
					    <div class="list-item">
					        <ul>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					            <li class="one-song">
					                <a class="thumb-song" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">
					                    <img class="img-responsive img-circle" alt="Anh Vẫn Thấy" src="http://zmp3-photo.d.za.zdn.vn/thumb/94_94/covers/e/0/e0a93e9df0a781ff081d1414bdffc919_1487580385.jpg" width="50">
					                    <span class="icon-circle-play icon-small"></span>
					                </a>
					                <h3 class="title-song">
					                    <a class="" href="#" title="Bài hát Anh Vẫn Thấy - Trọng Hiếu">Anh Vẫn Thấy</a>
					                </h3>
					                <span class="singer">
					                    <h4><a href="#" title="Nghệ sĩ Trọng Hiếu">Trọng Hiếu</a></h4>
					                </span>
					                <div class="tool-song">
					                    <div class="icon-download"><a title="Download" class="link-download"></a></div>
					                    <div class="icon-addlist"><a title="Thêm vào" class="link-addlist"></a></div>
					                    <div class="icon-share"><a title="Chia sẻ" class="link-share"></a></div>
					                </div>
					                <div style="clear:both;"></div>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>
	        </div>
		</div> <!-- main content -->
	</content>
	<footer class="footer-distributed">
			<div class="footer-left">
				<h3>Company<span>logo</span></h3>
				<p class="footer-links">
					<a href="#">Home</a> ·
					<a href="#">Blog</a> ·
					<a href="#">Pricing</a> ·
					<a href="#">About</a> ·
					<a href="#">Faq</a> ·
					<a href="#">Contact</a>
				</p>
				<p class="footer-company-name">Company Name &copy; 2015</p>
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>
				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</footer>
			
</body>
</html>