body {
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

#main-content {
    margin-top: 70px;
    margin-left: 17.7%;
    transition: 0.5s;
    margin-left: 0;
}

#top-nav {
    width: 100%;
    height: 50px;
    background-color: #ededed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#left-nav {
    width: 17.7%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 1;
    /*width: 0;*/
    transition: 0.5s;
    overflow: hidden;
    background-color: #2a3f54;
    width: 0;
}

.toggle-open {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.site-title {
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    font-weight: 400;
    font-size: 22px;
    /*width: 17.7%;*/
    /*color: #ecf0f1;*/
    line-height: 59px;
    /*display: block;*/
    /*margin: 0;*/
    /*text-align: center;*/
    padding-left: 20px;

}

.site-title span:last-child {
    /*padding-left: 15%;*/
    padding-left: 20px;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
}

.profile {
    position: relative;
}

.profile .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
}

.profile-pic {
    width: 35%;
    float: left;
}

.profile-image {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    margin-top: 20px;
    border: 1px solid rgba(52,73,94,0.44);
    padding: 3px;
}

.img-circle {
    border-radius: 50%;
}

.profile-info {
    width: 65%;
    float: left;
    padding: 25px 10px 10px;
}

.profile-info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8;
}

.profile-info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}

#left-nav-content {
    padding-left: 0;
    margin-top: 20px;
}

#left-nav-content > ul {
    list-style: none;
    padding-left: 0;
}

#left-nav-content > li {
    display: block;
    cursor: pointer;
    position: relative;
}

#left-nav-content li.list-active {
    border-right: 5px solid #1abb9c;
}

#left-nav-content .gl-right {
    text-align: right !important;
    margin-right: 4px;
    float: right;
    font-size: 10px;
    color: #c4cfda;
}

#left-nav-content > ul > li > .left-nav-content-main {
    color: #E7E7E7;
    font-weight: 500;
    display: block;
    padding: 13px 15px 12px;
    margin-bottom: 6px;
}

#left-nav-content > ul > li.list-active > .left-nav-content-main {
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
}

.left-nav-content-main:hover {
    background-color: #5a738e;
    cursor: pointer;
}

#left-nav-content .fa {
    font-size: 15px;
    width: 26px;
}

#left-nav-content ul.child-menu {
    display: none;
    list-style: none;
    padding-left: 0;
}

#left-nav-content .child-menu a {
    display: block;
    font-size: 12px;
    padding: 9px;
    font-weight: 500;
    color: rgba(255,255,255,0.75);
    margin-left: -10px;
    padding-left: 20px;
    border-left: 1px solid #425668;
}

#left-nav-content  .child-menu li {
    display: block;
    padding-left: 36px;
}

#left-nav-content .child-menu li.current-page, #left-nav-content .child-menu li:hover {
    background: rgba(255,255,255,0.05);
}

#left-nav-content .child-menu li.current-page a, #left-nav-content .child-menu li:hover a {
    color: #fefefe;
}

#left-nav-content .child-menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 0;
    border-radius: 50%;
}

#bottom-left-nav {
    position: absolute;
    left: 0;
    bottom: 60px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    width: 100%;
    background: #2A3F54;
    height: 40px;
    box-sizing: border-box;
    z-index: 1;
}

#bottom-left-nav a {
    padding: 10px 0;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #172D44;
}

#bottom-left-nav a:hover {
    /*background: #184e55;*/
}

.admin {
    height: 100%;
    display: -webkit-flex;
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.admin > .admin-name {
    padding: 0 10px;
}

.admin > a > span {
    font-weight: 500;
    line-height: 32px;
}

.admin .img-circle {
    width: 40px;
    height: 40px;
}

.admin span {
    padding-left: 10px;
}

ul.admin-content {
    list-style: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    width: 200px;
    border: 1px solid #D9DEE4;
    display: none;
    padding-left: 0;
}

ul.admin-content li {
    width: 100%;
    display: block;
}

ul.admin-content li a {
    padding: 12px 20px;
    cursor: pointer;
    color: #5a738e;
    font-weight: 400;
    display: block;
}

ul.admin-content .bg-red {
    color: #fff;
    background-color: #e74c3c;
}

/*.admin:hover {*/
/*cursor: pointer;*/
/*}*/

/*.admin:hover .admin-content{*/
/*display: block;*/
/*}*/

ul.admin-content li:hover {
    background-color: #eee;
}

.footer {
    position: static;
    height: 35px;
    background-color: #aaa;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.envelope {
    padding: 15px;
    font-size: 20px;
    position: relative;
}

.envelope > span {
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: #1abb9c;
    color: #fff;
}

.admin:hover, #env-content:hover {
    background-color: #d9dee4;
    cursor: pointer;
}

.list {
    margin: 20px;
    padding: 0 10px 10px;
}

.user-detail-top {
    margin: 20px;
    /*padding: 0 10px 10px;*/
}

.user-detail-top > h4 {
    background-color: #ededed;
    color: #5a738e;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 5px;
    text-align: center;
}

.user-detail-top > ul {
    background-color: #ededed;
    color: #5a738e;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}

.user-detail-top > ul > li {
    /*float: left;*/
    display: inline-block;
    padding: 10px 10px 5px;
}

.user-detail-top > ul > li:hover, .user-detail-top li.tab-active {
    border-bottom: 3px solid #425668;
    color: #425668;
    cursor: pointer;
    background-color: #c4cfda;
}

#creator-subheader, #creator-action, .creator-video-item {
    height: auto;
    padding: 18px 25px;
}

#creator-subheader {
    padding: 18px 25px 18px 5px;
}

.creator-subheader-content {
    float: left;
}

#creator-subheader h2 {
    display: inline;
    vertical-align: middle;
    line-height: 30px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

#creator-subheader-item-count {
    line-height: 30px;
    background-color: #666;
}

.badge-creator {
    margin-left: 10px;
    border: none;
    padding: 4px 6px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 12px;
    color: #f0f0f0;
    border-radius: 3px;
}

.list-video {
    margin: 20px;
    height: 500px;
}

.creator-subheader-controls {
    float: right;
    width: 220px;
}

.creator-video-item {
    position: relative;
    overflow: hidden;
    padding: 15px 15px 15px 25px;
    white-space: nowrap;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.select-action {
    border-radius: 0;
    padding: 3px 6px;
}

.caret-action {
    border-radius: 0;
    padding: 3px 1px;
    z-index: 1;
}

.caret-action + .dropdown-menu {
    min-width: 100px;
    border-radius: 0;
    z-index: 2;
}

.clear {
    clear: both;
}

.clear-border-radius {
    border-radius: 0;
}

.account-info {
    padding: 50px;
}

.account-info img {
    width: 150px;
    height: 150px;
}

.account-info .control-label {
    text-align: left;
}

.account-info input, .account-info button {
    border-radius: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}