<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="../../libs/jb/bootstrap.min.css">-->
    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

    <!--Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Font-->
    <script src="https://use.fontawesome.com/479981a8a3.js"></script>

    <!--W3 school include module-->
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
</html>