.box-header {
    background: #f1f1f1;
    height: 60px;
}

.wrap {

    position: relative;
}

.wrap .content-wrap {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

.box-header .logo {
    width: 76px;
    height: 40px;
    float: left;
    background: url(http://stc.id.nixcdn.com/v11/images/logo-nhaccuatui.png) no-repeat;
    background-size: 100%;
    margin: 10px 16px 0 0;
}
.box-header .logo {
    width: 76px;
    height: 40px;
    float: left;
    background: url(http://stc.id.nixcdn.com/v11/images/logo-nhaccuatui.png) no-repeat;
    background-size: 100%;
    margin: 10px 16px 0 0;
    text-indent: -10000px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.box-header .box_search .b-search:hover {
    background: #d53827;
}
.box-header .box_search .b-search {
    float: right;
    height: 34px;
    width: 79px;
    text-align: center;
    line-height: 34px;
    font-weight: 500;
    background: #e74c3c;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto Condensed", serif;
    margin: 2px 2px 0px 0px;
    color: #ffffff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.box-header .logo {

    width: 76px;
    height: 40px;
    float: left;
    background: url(http://stc.id.nixcdn.com/v11/images/logo-nhaccuatui.png) no-repeat;
    background-size: 100%;
    margin: 10px 16px 0 0;

}
.box-header .logo {

    width: 76px;
    height: 40px;
    float: left;
    background: url(http://stc.id.nixcdn.com/v11/images/logo-nhaccuatui.png) no-repeat;
    background-size: 100%;
    margin: 10px 16px 0 0;
    text-indent: -10000px;

}

.menu-subdomain {
    float: left;
    height: 60px;
    margin-left: 20px;
}

.box-header .box_search {
    width: 446px;
    height: 38px;
    left: 50%;
    position: absolute;
    background: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #cfcfcf solid 1px;
    float: left;
    margin: 10px 0 0 -223px;
}

#box_user_login {
    height: 45px;
}
.box-header .box_user_login {
    float: right;
    height: 32px;
    margin: 13px 0px 0px 0px;
    line-height: 32px;
    width: auto;
    text-align: right;
    padding: 0;
}

.menu-subdomain a {
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #212121;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.box-header .box_search .i-search {
    width: 320px;
    float: left;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding: 0px 0px 0px 30px;
    border: none;
    margin: 0 0 5px 0;
    color: #555555;
    background: url(http://stc.id.nixcdn.com/v11/images/icon-repeat.png) 10px 7px no-repeat;
}

.box-header .box_search .b-search {
    float: right;
    height: 34px;
    width: 79px;
    text-align: center;
    line-height: 34px;
    font-weight: 500;
    background: #e74c3c;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto Condensed", serif;
    margin: 2px 2px 0px 0px;
    color: #ffffff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#user_control, #htmlLoginForm, .submenu-topbar, #divSuggestion, #top20_box_more, .box_info_show {
    opacity: 1;
    visibility: visible;
    display: block !important;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.box-header .box_search .suggestion {
    position: absolute;
    width: 446px;
    background: #FFFFFF;
    border: #cfcfcf solid 1px;
    border-top: 0px;
    margin: 37px 0px 0px -1px;
    z-index: 10000;
    border-top: 0px;
}
.suggestion {
    opacity: 1 !important;
    visibility: visible !important;
}

.hideShowCase {
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: 1;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
    -moz-transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="text"]:focus {
    border-color: #2882bc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a {
    color: #444444;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a, a:hover, a:active, a:focus {

    outline: 0;

}

.box-header .box_user_login .avatar {
    background: url(http://stc.id.nixcdn.com/v11/images/icon-repeat.png) left -32px no-repeat;
    float: left;
    padding: 0 0 0 36px;
}
