body{

    background-color: #EEEEEE;
}

*{
    padding: 0;
    margin: 0;
}

#slider .item {
    height: 350px;
}
#slider .item img {
    width:70%;
    height:350px;
    float:right;
}
.backgroun-gadian {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 15%;
    color: #ffffff;
    height: 100%;
    background: -webkit-linear-gradient(right,rgba(0,0,0,1),rgba(15,10,13,0.0));
    background: -o-linear-gradient(right,rgba(0,0,0,1),rgba(15,10,13,0.0));
    background: -moz-linear-gradient(right,rgba(0,0,255,1),rgba(0,0,0,.0));
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(3,2,2,.0));
}
.carousel-inner {
    background:black;
}
.carousel-control {
    width:5%;
}
.carousel-caption {
    right: 65%;
    left: 5%;
    top:15%;
}

.content_page_playlist{

    /*background-color: white;*/
    /*border-radius: 3px;*/
    /*margin-top: 15px;*/
    padding: 20px 0;
}



.list_playlist{

    clear: right;
    margin-bottom: 30px;
}

.order{

    float: right;
    /*margin-right: 20px;
    margin-bottom: 20px;*/

    padding: 20px;
}



.order .dropdown{

    display: inline;
}

.order p{

    display: inline;
}

.card_playlist{

    margin: 0 auto;
}

#cover_page{

    position: relative;
    padding-left:0;
}

#cover_page #title_cover{
    position: absolute;
    bottom: 10px;
    left: 25px;
}