.sign-up-title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 22px;
}

.sign-up-wrap {
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    width: 500px;
}

.sign-up-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.sign-up-email {
    width: 90%;
}

.sign-up input, .sign-up .sign-up-submit {
    border-radius: 0;
}

.sign-up {
    padding: 10px;
}

.progress {
    margin: 5px 0;
    border-radius: 0;
}